.characterCard {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid darkseagreen;
}

.photo {
    width: 248px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    border-radius: 19px 19px 0 0;
}

.name {
    color: darkslategray;
    text-align: center;
}

.house {
    margin: 0 55%;
    width: 30%;
    text-align: center;
    background-color: darkslategray;
    padding: 4px 15px;
    border-radius: 15px;
    border: 1px solid black;
    color: white;
}

.link{
    text-decoration: none;
}

.characterCard:hover{
    background-color: white;
    transform: scale(105%);
    transition: background-color 0.5s, transform 0.3s;
}