.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: darkslategray;
    color: white;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    font-family: "Al Nile", cursive;
}

.sideBarName {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

.sideBarText {
    text-align: center;
    margin-top: auto;
}

.sideBarLink {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-top: 50px;
    background-color: darkseagreen;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid black;
}

.sideBarLink:hover {
    transform: scale(102%);
    box-shadow: 5px 5px 10px gray;
    transition: box-shadow 0.3s, transform 0.3s;
}

.sideLinkIsActive {
    box-shadow: 3px 3px 5px black;

}