.wrapper {
    display: block;
    justify-content: center;
}

.characters {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;
    justify-content: center;
}