.cardDetails {
    width: 100%;
    display: flex;
    gap: 50px;
}

.imgDetails {
    width: 300px;
    border-radius: 20px;
    margin-block: auto;

}

.cardMainInfo {
    display: flex;
    flex-direction: column;
}

.altNamesDetails {
    color: gray;
    font-weight: 300;
}

.detailsField {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: antiquewhite;
    border: 1px solid gray;
    border-radius: 25px;
    margin: 5px;
    width: 150px;
}

.detailsInfo{
    font-size: 18px;
}

.uniqChar{
    padding-block: 3px;
    padding-inline: 8px;
    margin-inline: 5px;
    color: dimgray;
    font-weight: 400;
    background-color: darkseagreen;
    border-radius: 15px;
    border: 1px solid dimgrey;
}

.charContainer{
    margin-top: 50px;
}