.cardDetails {
    width: 100%;
    display: flex;
    justify-items: left;
    align-content: start;
    gap: 50px;
}

.imgDetails {
    width: 300px;
    border-radius: 20px;
    align-self: flex-start;
    margin-top: 50px;
}

.cardMainInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 50px;
}

.altNamesDetails {
    color: gray;
    font-weight: 300;
}

.detailsField {
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 15px;
    background-color: antiquewhite;
    border: 1px solid gray;
    border-radius: 25px;
    width: 150px;
    color: dimgray;
    font-weight: 300;
}

.detailsInfo{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.uniqChar{
    padding-block: 3px;
    padding-inline: 8px;
    margin-inline: 5px;
    color: dimgray;
    font-weight: 400;
    background-color: darkseagreen;
    border-radius: 15px;
    border: 1px solid dimgrey;
}

.charContainer{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 10px;
}